youtube_transcript_api
google-generativeai
streamlit
python-dotenv
pathlib
firebase_admin==5.2.0
firebase-admin
requests
reportlab
google-api-python-client
google-auth
google-auth-httplib2
youtube-transcript-api
pytube

